.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: #19376D;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.2s;
    width: fit-content
}

.btn:hover {
    background-color: #0B2447;
}